<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        #g {
        margin: 35px;
        }
    </style>
</head>
<body>
    <nav id="i">
        <a href="/name/"><b>Searching for Picture</b></a><br><br>
        <a href="/css/">Searching Group Picture</a><br>
        <a href="/js/">Adding a Picture</a><br>
        <a href="/python/">Remove someone from table</a><br>
        <a href="/p/">Change Keyword</a><br>
        <a href="/pyt/">Change Salary</a><br>
    </nav>
</body>
</html>