{% extends "base.html" %}

{% block head %}
    <title>Keyword</title>
{% endblock %}

{% block body %}
    <div>
        <form method="POST">
            <label for="name">Enter name: </label>
            <input type="text" id="name" name="name"><br><br>
            <label for="keyword">Enter Keyword: </label>
            <input type="text" id="keyword" name="keyword">
            <button type="submit">Submit</button><br>
        </form>

        {% if name %}
            <h2>Hello, {{ name }}!</h2>
        {% endif %}

        {% if system is none %}
            <h2> You don't exist in our system</h2>
        {% elif keyword  %}
            <h3>New keyword is: {{ keyword }}</h3>
        {% endif %}

    </div>

{% endblock %}