{% extends "base.html" %}

{% block head %}
    <title>Salary</title>
{% endblock %}

{% block body %}
    <div>
        <form method="POST">
            <label for="name">Enter name: </label>
            <input type="text" id="name" name="name"><br><br>
            <label for="salary">Enter Amount: </label>
            <input type="number" id="salary" name="salary">
            <button type="submit">Submit</button><br>
        </form>

        {% if name %}
            <h2>Hello, {{ name }}!</h2>
        {% endif %}


        {% if system is none %}
            <h2> You don't exist in our system</h2>
        {% elif salary  %}
            <h3>New salary is: {{ salary }}</h3>
        {% endif %}

    </div>

{% endblock %}